<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_form}">
<div layout:fragment="content" class="content">
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">REMARKET</h1>
                <p class="lead fw-normal text-white-50 mb-0">소시개 Remarket 홈페이지 입니다.</p>
            </div>
        </div>
    </div>
</div>
<br><br>
</html>
